html.enhanced-emojis-enabled {
    --enhanced-emojis-size: 32px;
}

html.enhanced-emojis-enabled.enhanced-emojis-developer-mode {
    --enhanced-emojis-size: 64px;
}

/*
 * Posts
 */

html.enhanced-emojis-enabled .post-message__text span.emoticon[style*="/api/v4/emoji/"] {
    width: var(--enhanced-emojis-size) !important;
    height: var(--enhanced-emojis-size) !important;
    min-width: var(--enhanced-emojis-size) !important;
    min-height: var(--enhanced-emojis-size) !important;
    vertical-align: text-bottom;
}

html.enhanced-emojis-enabled.enhanced-emojis-developer-mode .post-message__text span.emoticon[style*="/api/v4/emoji/"] {
    outline: 2px solid red;
}

/*
 * Reactions
 */

/*
 * Emoji Picker
 */
